<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "welcome.css" %>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>CHRIS'S BLOG</h1>
  <div id="link">
    <button><%= link_to 'My Blog', controller: 'articles' %></button>
  </div>

  <div class="frank">
    <img src="frank.jpg">
  </div>


  </body>
</html>